/* Header */
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    display: flex;
    margin: 0 8px;
    position: relative;
    min-height: 20px;
    align-items: center;
    z-index: 10;
}

.header__navbar-user {
    display: flex;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}



.header__navbar-user-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
    font-weight: 500;
}

.header__navbar-user-menu {
    list-style: none;
    position: absolute;
    width: 142px;
    background-color: var(--white-color);
    top: 128%;
    right: 0;
    padding: 0;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    display: none;
    animation: headerNotifyGrowth ease-in 0.2s;
    transform-origin: calc(100% - 50px) top;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    border-width: 10px 16px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    right: 26px;
    top: -20px;
    display: block;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -22px;
    width: 90%;
    height: 30px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid var(--border-color);
}

.header__navbar-user-item:hover {
    background-color: rgb(250, 250, 250);
}


.header__navbar-user-menu-link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 14px;
}

.header__navbar-user-menu-link:hover {
    color: var(--primary-color);
    font-weight: 400;
}


.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    border-left: 1px solid #fb9086;
    right: -10px;
    top: 2px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.5rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header QR Code */
.header__qr {
    position: absolute;
    background-color: var(--white-color);
    width: 186px;
    top: 120%;
    left: 0;
    padding: 8px;
    border-radius: 3px;
    border: #333 solid 1px;
    display: none;
    animation: showUp ease-in 0.5s;
    will-change: opacity;
}

.header__qr::before {
    content: "";
    top: -14px;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
}

.header__qr-img {
    width: 100%;
    cursor: default;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 15px;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
    margin-top: 1px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    animation: headerNotifyGrowth ease-in 0.25s;
    transform-origin: calc(100% - 30px) top;
    display: none;
    will-change: opacity, transform;
    margin-top: 6px;
    border-radius: 2px;
}

.header__notify::before {
    content: "";
    position: absolute;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 0px;
    top: -30px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 86px;
    height: 30px;
    top: -20px;
    right: 0;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    border-bottom: 1px solid #d3d3d3;
    cursor: default;
}

.header__notify-header h4 {
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 0 0 12px;
    line-height: 39px;
}

.header__notify-list {
    padding-left: 0;
    background-color: var(--white-color);
}

.header__notify-item:hover {
    /* padding: 3px; */
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);  
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
    align-items: center;
}

.header__notify-img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    border: 2px solid var(--border-color);
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 2rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
}

.header__notify-footer {
    padding: 4px 12px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #d3d3d3;
}

.header__notify-footer-link {
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    width: 100%;
    height: 100%;
}

/* Authen Modal */

.auth-form {
    width: 500px;
    overflow: hidden;
    background-color: var(--white-color);
    border-radius: 3px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 10px 0;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    margin-top: 16px;
    height: 40px;
    font-size: 1.4rem;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;

}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 22px;
    text-align: center;
    padding: 0 6px;
    font-weight: 600;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin: 100px 0 20px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-text-icon {
    font-size: 1.2rem;
    padding-right: 20px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    position: relative;
    line-height: 18px;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--border-color);
}

.auth-form__help-link--separate {
    margin-right: 20px;
    color: var(--primary-color);
    font-weight: 500;
}

.auth-form__help-link--separate::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    border-left: 1px solid #EAEAEA;
    display: block;
    right: 84px;
}

/* header-with-search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo {
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
    fill: #fff;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;

}

/* Cart */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    z-index: 2;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    font-size: 2.2rem;
    color: var(--white-color);
    margin-top: 3px;
    position: relative;
}

.header__cart-notice {
    position: absolute;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 4px 6px;
    border-radius: 8px;
    line-height: 70%;
    top: -2px;
    right: -10px;
    border: 2px solid #EE4D2D;

}

.header__cart-list {
    position: absolute;
    right: -8px;
    top: 112%;
    width: 400px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    animation: showUp ease-in 0.2s;
    cursor: default;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    border-width: 20px 24px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -28px;
    right: 0;
    display: block;
    cursor: pointer;
}

.header__cart-list--no-cart .header__cart-list-no-cart-text,
.header__cart-list--no-cart .header__cart-no-cart-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart .header__cart-heading,
.header__cart-list--no-cart .header__cart-list-item,
.header__cart-list--no-cart .header__cart-view-cart-wrap {
    display: none;
}

.header__cart-list-no-cart-text {
    /* display: block;     */
    display: none;
    font-size: 1.4rem;
    margin-bottom: 14px;
    color: var(--text-color);
    font-weight: 400;
}

.header__cart-no-cart-img {
    width: 60%;
    display: none;
    padding: 16px;
}

.header__cart-heading {
    margin: 16px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #666;
    text-align: left;
    line-height: 100%;
}

.header__cart-list-item {
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
    height: 40vh;
    overflow-y: auto;

}

.header__cart-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f9f9f9;
}

.header__cart-img {
    width: 50px;
    height: 50px;
    margin: 12px;
    border: 2px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 8px;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.header__cart-item-name {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

/* .header__cart-item-price-wrap {

} */

.header__cart-item-price {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 2px;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1rem;
}

.header__cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    display: block;
    max-width: 200px;
    text-align: justify;
}

.header__cart-item-remove {
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart-wrap {
    width: 100%;
    height: 56px;
    background-color: #f7f7f7;
    border-radius: 2px;
}

.header__cart-view-cart {
    float: right;
    margin: 10px 10px 10px 0;
    text-align: center;
    line-height: 36px;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}


.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
    z-index: 2;
}

.header__search-input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.4rem;
    padding: 0 12px;
    border: none;
    color: var(--text-color);
    border-radius: 3px;
}

.header__search-input-wrap:focus-within .header__search-history {
    display: block;
}

.header__search-select {
    height: 70%;
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    padding-left: 12px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select::before {
    content: "";
    display: block;
    height: 40px;
    width: 114px;
    position: absolute;
    top: 14px;
    right: 0px;
}

.header__search-select-label {
    font-size: 1.3rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.3rem;
    color: rgb(131, 131, 131);
    margin: 0 12px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 88%;
    width: 60px;
    outline: none;
    border-radius: 2px;
    margin-right: 2px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.2rem;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 136%;
    background-color: var(--white-color);
    list-style: none;
    padding: 0;
    border-radius: 3px;
    width: 126px;
    margin: 0;
    box-shadow: 0 0 3px #ccc;
    display: none;
    animation: showUp ease-in 0.2s;
}

.header__search-option-item {
    padding: 12px 8px 12px 22px;
    width: 100%;
    height: 100%;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
    border-radius: 3px;
}

.header__search-option-item span {
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    margin: 0 -4px 0 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Search History */
.header__search-history {
    position: absolute;
    top: 110%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px #999;
    display: none;
}
.header__search-history-heading {
    margin: 10px 10px 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    cursor: default;
}

.header__search-history-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__search-history-item {
    height: 40px;
    font-size: 1.4rem;
    cursor: pointer;
}

.header__search-history-item:hover {
    background-color: #fafafa;
    border-radius: 3px;
}

.header__search-history-item a {
    text-decoration: none;
    margin-left: 12px;
    line-height: 40px;
    color: var(--text-color);
    display: block;
}

/* App container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding: 24px 0;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px; 
}

.category__heading {
    color: var(--text-color);
    font-size: 1.72rem;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
}

.category__heading-icon {
    font-size: 1.6rem;
    margin-right: 6px;
}

.category-list {
    list-style: none;
    padding: 0 0 12px 10px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);

}

.category-item--active .category-item__link::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent var(--primary-color);
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.category-item__link {
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 16px;
    display: block;
    font-weight: 500;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */

.home-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 12px 22px;
    border-radius: 2px;
    font-size: 1.3rem;
}

.home-filter__label {
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--white-color);
}

.home-filter__page-btn {
    display: block;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    color: #555;
    font-size: 1rem;
}

/* Product Item */

.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-decoration: none;
    display: block;
    color: var(--text-color);
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
    transform: translateY(-2px);
}

.home-product-item__img {
    border-radius: 2px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-product-item__name {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price {
    display: flex;
    margin: 10px 10px;
    align-items: baseline;
}

.home-product-item__price-old {
    text-decoration: line-through;
    font-size: 1.2rem;
    width: 70px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.home-product-item__price-now {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 8px;
    font-weight: 400;
    width: 90px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.home-product-item__action {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px 10px;
}


i.home-product-item__like-icon-fill {
    display: none;
    color: var(--primary-color);
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__rate {
    font-size: 0.9rem;
    color: #d5d5d5;
    margin-left: auto;
    position: relative;
    top: -1px;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px 10px;
    font-size: 1.2rem;
    color: #595959;
    padding-bottom: 10px;
}

.home-product-item__favorite {
    position: absolute;
    left: -4px;
    top: 10px;
    color: var(--primary-color);
    background-color: currentColor;
    padding: 0 4px;
    display: inline-flex;
    align-items: center;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    top: 100%;
    left: 0;
    filter: brightness(60%);
}

.home-product-item__favorite-icon {
    font-size: 0.9rem;
    margin-right: 4px;
    color: var(--white-color);
}

.home-product-item__favorite-text {
    font: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
}


.home-product-item__sell-off {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(255, 216, 64, 0.96);
    padding: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 40px;
    height: 36px;
    line-height: 1.5rem;
    border-top-right-radius: 2px;
}

.home-product-item__sell-off::before {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    bottom: -4px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.96) transparent rgba(255, 216, 64, 0.96);
}

.home-product-item__sell-off-percent {
    color: var(--primary-color);
}

.home-product-item__sell-off-label {
    color: var(--white-color);
}

/* Pagination */

.home-product__pagination {
    margin: 50px 0;
}

.pagination-item__three-dots .pagination-item__link{
    cursor: default;
}

/* Footer */

.footer {
    border-top: 2px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 38px 0 26px 0;
    color: var(--text-color);
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list-item {
    font-size: 1.3rem;
    margin: 14px 0;
}

.footer__list-item-link {
    display: block;
    text-decoration: none;
    color: #939393;
    display: flex;
    align-items: center;
}

.footer__list-item-icon {
    font-size: 1.8rem;
    margin-right: 4px;
}

.footer__download {
    display: flex;
}

.footer__download-img {
    width: 90px;
    height: 90px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-apps-link {
    display: block;
    height: 20px;
}

.footer__download-apps-img {
    height: 100%;
}

.footer-text {
    font-size: 1.3rem;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    margin: 0;
    background-color:#f5f5f5;
}





